.border-white-opacity-08 {
  border: 1.5px solid rgba(255, 255, 255, 0.08);
}

.border-dropdown {
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
  background: rgb(26, 48, 61, 100%)
}

.custom-transition {
  transition: transform 0.5s ease-in-out;
}

.custom-fade {
  transition: opacity 0.5s ease-in-out;
}

.custom-fade:hover .fade-content {
  opacity: 1;
}

.fade-content {
  opacity: 0;
}